
* {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
    height: auto;
    
}

.flexcontainer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
    height: 40px;
    background-color: #242526;
}

.navbar{
    
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}
.navbar a{
    text-decoration: none;
    color: white;
    
}
.navbar .link{
    padding: 15px 0px 0px 15px;
    font-size: 12px;
}

.navbar .sublink {
    padding: 15px 0px 0px 15px;
    font-size: 8px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    height: auto;
    width: 20%;
    border-radius: 30px;
}

.movieContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movie {
    padding: 2%;
    padding-top: 10%;
    
}
